# Design constraints for target device

NET "Clk_100M" LOC = V10;
NET "Clk_100M" PERIOD = 10 ns HIGH 5ns;

NET "SegmentDrivers<3>" LOC = P17 | TIG;
NET "SegmentDrivers<2>" LOC = P18 | TIG;
NET "SegmentDrivers<1>" LOC = N15 | TIG;
NET "SegmentDrivers<0>" LOC = N16 | TIG;

NET "SevenSegment<7>" LOC = M13 | TIG;
NET "SevenSegment<6>" LOC = L14 | TIG;
NET "SevenSegment<5>" LOC = N14 | TIG;
NET "SevenSegment<4>" LOC = M14 | TIG;
NET "SevenSegment<3>" LOC = U18 | TIG;
NET "SevenSegment<2>" LOC = U17 | TIG;
NET "SevenSegment<1>" LOC = T18 | TIG;
NET "SevenSegment<0>" LOC = T17 | TIG;

NET "LED_Pins<5>" LOC = U16 | TIG;
NET "LED_Pins<4>" LOC = V16 | TIG;
NET "LED_Pins<3>" LOC = U15 | TIG;
NET "LED_Pins<2>" LOC = V15 | TIG;
NET "LED_Pins<1>" LOC = M11 | TIG;
NET "LED_Pins<0>" LOC = N11 | TIG;

NET "Reset_Button" LOC = C4 | TIG;
NET "Button_Minutes" LOC = D9 | TIG;
NET "Button_Hours" LOC = A8 | TIG;

NET "Slide_Switch<7>" LOC = T10 | TIG;
NET "Slide_Switch<6>" LOC = T9 | TIG;
NET "Slide_Switch<5>" LOC = V9 | TIG;
NET "Slide_Switch<4>" LOC = M8 | TIG;
NET "Slide_Switch<3>" LOC = N8 | TIG;
NET "Slide_Switch<2>" LOC = U8 | TIG;
NET "Slide_Switch<1>" LOC = V8 | TIG;
NET "Slide_Switch<0>" LOC = T5 | TIG;



